.main-nav {
	background-color: #D8EFFA;
	height: 80px;
}
.main-nav .container ul{
	height:80px;
}
.main-nav .container{
	padding:0;
}
.main-nav .container ul li {
	height:80px;
	line-height:80px;
	margin-left:0;
}
.main-nav div div ul li a{
	font-size: 20px;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 30px;
	padding-left: 30px;
	color:#4682B4;
	height: inherit;
	line-height: inherit;
}

.main-nav div div ul li a:hover{
	background-color: #88BBD4;
	color:white;
}

.main-nav img{
	height: 80px;
	margin-top:-3px;
}

.main-nav form{
	height:80px;
}
.form-group {
	height: 80px;
}
#querytext {
	margin-top: 27px;
	width: 250px;

}

#main-slide {
	/*background-color: #D8EFFA;*/
	background-color:white;
	margin-bottom: 0;
	background-image: none;
	padding-left: 0;
	padding-right: 0;
}

#searchbtn {
	margin-left: -30px
}


