.child_image, #works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px; 
	background: rgba(255,255,255,0.9);
	width: 250px;
	max-height: 250px;
	min-height: 190px;
}

.pic-list li{
	padding-bottom: 10px;
}

.picdesc {
	position: relative;
	height: 60px;
	width: 250px;
	margin: 12px;
	bottom: 86px;
	background:#88BBD4;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	opacity:0.9;
	font-size:30px;
	display:none;
}
.picdiv{
	float:left;
	height: 200px;
	margin-right: 15px;
	margin-bottom: 100px;
}

.picdiv:hover .picdesc{
	display:block;
}
.del_child, .right_desc{
	text-align: right;
	color: black;
	font-size: 17px;
	text-shadow:0px 0px 0px;
	text-decoration:underline;
	position: absolute;
	bottom: 0;
	right:0;
}
.left_desc{
	text-align: left;
	color: black;
	font-size: 17px;
	text-shadow:0px 0px 0px;
	text-decoration:underline;
	position: absolute;
	bottom: 0;
	left:0;
}
